body
{
    padding:5px;
    margin:5px;
}

header
{
    background-color:#a0ff9e;
    background:url("../images/flywheel.jpg") no-repeat;
    background-size: 100%;
    height: 23vh;
    padding:2vh;
}

nav a{
    text-align: center;
    display:inline-block;
    width:10%;
    margin:1% 6%;
    padding:1%;
    color:#530fe0;
    background-color: #f6f1ed;
    opacity: 0.5;
    text-decoration: none;
    border-radius:200px;
}
nav a:hover, .active
{
  opacity:1;
}
h1{
    text-align: center;
    color:#f8f8f8;
    font-variant: all-petite-caps;
    font-size: 250%;
    margin:0px auto;
}

h2{
    color:#141313;
    font-variant:all-petite-caps;
    font-size:200%;
}

.left{
    width:25%;
    background-color: #4F800D;
    float:left;
    text-align: center;
}
.right{
    float: left;
    width:50%;
    margin:1%;
}
.right + *
{
    clear:left;
}
.left img{

    width:80%;
    border:solid #000000;
    margin:5% auto;

}
